<h1>Editing table dog</h1>

<%= render "form", table_dog: @table_dog %>

<br>

<div>
  <%= link_to "Show this table dog", @table_dog %> |
  <%= link_to "Back to table dogs", table_dogs_path %>
</div>
